*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.stars-container {
  position: fixed;
  top: 10rem;
  left: 5rem;
  width: 30vw;
  height: 45vh;
  background: black;
  overflow: hidden;
  z-index: -1;
  transform: rotate(24deg);
   border-radius: 200px 100px 10rem 400px;
}

.star {
  position: absolute;
  width: 3px;
  height: 3px;
  background: white;
  border-radius: 50%;
  filter: blur(1px);
}

.stars-container-right {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  width: 50vw;
  height: 45vh;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
  transform: rotate(-24deg);
  border-radius: 200px 100px 10rem 400px;
}
.animationHolder {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  z-index: -2;
}

/* rocket */
.rocket {
  position: fixed;
  width: 18%;  
  height: auto;
  z-index: 10;
  pointer-events: none;
  transform: rotate(55deg);
}

/* message box */
.message-box {
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  padding: 20px 28px;
  width: 50vw;
  height: fit-content;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  color: white;
  z-index: -1;
  opacity: 0; 
}

.msg-btn {
  margin-top: 16px;
  width: 100%;

  padding: 12px 0;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;

  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.25s ease;
}

.msg-btn:hover {
  background: rgba(255, 255, 255, 0.35);
  transform: scale(1.03);
}

/* Mobile view */

@media (max-width: 768px) {
  .stars-container{
    width: 70vw;
    height: 50vh;
  }
  .stars-container-right {
    width: 70vw;
    height: 25vh;
    bottom: 2rem;
    right: 1rem;
  }
  .rocket {
    width: 50%;
    transform: rotate(40deg);
  }

  .message-box {
    width: 80vw;
    left: 90%;
  }
}

/* TABLET VIEW */
@media (min-width: 768px) and (max-width: 1024px) {

  .stars-container {
    width: 45vw;
    height: 40vh;
    top: 8rem;
    left: 3rem;
    transform: rotate(20deg);
  }

  .stars-container-right {
    width: 45vw;
    height: 35vh;
    bottom: 4rem;
    right: 3rem;
    transform: rotate(-20deg);
  }

  .rocket {
    width: 30%;     
    transform: rotate(45deg);
  }

  .message-box {
    width: 60vw;     
    left: 50%;        
    top: 50%;
    padding: 20px;
  }

  .msg-btn {
    font-size: 18px;
    padding: 14px 0;
  }
}
